<style type="text/css">

/*COLORS
	darkblue - 1d2d53
	mediumblue - 284ba0
	lightgrey - 8FA2CF
	orange - a07818
	brown - 53341d

	light steel blue - acc7e5
	yankees blue - 151e3b
	pastel purple - B5ABB4
	alabaster - F2E9E4
*/

html {
	height: 100%;
}

body {
	background-color: #ACC7E5;
}


@media screen and (max-width: 430px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(40px,auto) minmax(30px,auto) auto;
    grid-template-areas:
    "header"
    "nav"
    "ct"
  }

header {
	/*background-color: #1d2d53;*/
	font: 28pt arial;
	color: #1d2d53;
	margin: 20px 20px;
	padding: 10px 10px;
	/*border-radius: 10px;*/
	display: inline-table;
}

table td {
	padding: 10px 10px;
}

td h2 {
	font: 22pt arial;
	color: #1d2d53;
}

td p {
	font: 14pt arial;
	color: #1d2d53;
}

nav {
	background-color: #1d2d53;
	margin: 0px 20px;
	padding: 0;
	border-radius: 10px;
}

nav ul {
	list-style: none;
	padding-left: 10px;
	display: inline-table;
	margin: 10px 0px;
}

nav ul li {
	display: inline-table;
	float: left;
	padding: 0px 10px;
	margin: 0;
}

nav ul li a {
	color: lightgrey;
	text-decoration: none;
	font: 14pt arial;
	display: block;
}

nav ul li:hover {
	background: #F2E9E4;
	display:  inline-table; 
	padding: 0px 10px;
}

nav ul li a:hover {
	color: #1d2d53;
	text-decoration: none;
	font: 14pt arial;
}

#rounded {
	border-radius: 10px;
	background-color: #F2E9E4;
	margin: 20px 20px;
	padding: 10px 20px;
	font: 14pt arial;
	color: #1d2d53;
}

#rounded h2 {
	font: 22pt arial;
	color: #1d2d53;
}

#rounded p {
	margin: 10px 0px;
}

#rounded ul li {
	margin: 10px 0px;
}

#rounded ol li {
	margin: 10px 0px;
}

#rounded dl dt {
	margin: 0px 0px;
	font-weight: bold;
}

#rounded dl dd {
	margin: 10px 20px;
}

#my-chart.column {
  height: 300px;
  max-width: 450px;
  margin: 0 auto;
}

#rounded img {
	max-width: 800px;
}
